#EditIDLabel
{    color: white; }
#EditMessageLabel
{    color: white; }
#EditFrequencyLabel
{    color: white; }
#EditStartDateTimeLabel
{    color: white; }
#EditUpdateLabel
{    color: white; }
#EditRemoveLabel
{    color: white; }

p
{ color:white }
