.container
{
    background-color: #282c34;
}

.MuiTextField-root > label {
    color: white;
}

.MuiInputBase-colorPrimary
{
    color: white;
}

.MuiSvgIcon-root
{
    color: white;
}

.MuiOutlinedInput-notchedOutline
{
    border-color: white;
}

.createStartDatePicker fieldset.MuiOutlinedInput-notchedOutline {
    border-color: white;
}

.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
    border-color: white;
}
.MuiPaper-root.MuiDialog-paper {
    background-color: #282c34;
    color: white;
}
.MuiTypography-root{
    color: white !important;
}
hr{
    background-color: white;
    border-color: white;
    color:white;
    border-style:solid;
    height: 2px;
}